.background-turqoise{
    background-color:rgb(0, 129, 138) !important;
    color: white;
    border-radius: 0 !important;    
}

.article-card{
    background-color: rgb(0, 175, 187);
    text-align: left;
    position: relative;
    margin-left: 4%;
    padding-left: 1%;
    padding-right: 1%;
    height: 50%;
    width: 28%;
    display: inline-block;
}

.wrapper{
    height: 800px;
}

